# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
django_api/.env/
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/


# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

# Backup
*.bak
*.swp

# Bytecode
*.pyc
