{% extends 'base.html' %}

{% block content %}

<div class="feedback-form">
    <h2>Смена пароля</h2>
    <form action="/change-password" method="POST">
        <div class="form-group">
            <label for="current-password">Текущий пароль</label>
            <input type="password" id="current-password" name="current_password" placeholder="Введите текущий пароль" required>
        </div>
        <div class="form-group">
            <label for="new-password">Новый пароль</label>
            <input type="password" id="new-password" name="new_password" placeholder="Введите новый пароль" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Подтвердите новый пароль</label>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Повторите новый пароль" required>
        </div>
        <button type="submit" class="btn">Сменить пароль</button>
    </form>
</div>


{% endblock %}